<html lang="en" ng-app="eventsApp">

<head>
    <meta charset="utf-8">
    <title>Cache Sample</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
</head>

<body>
    <div class="container">
        <div data-ng-controller="CompileSampleController" style="padding: 20px">
            <div id="appendHere"></div>
            <br>
            Name: <input type="text" ng-model="name">
            Markup: <input type="text" ng-model="markup">
            <button class="btn" type="button" ng-click="appendDivToElement(markup)">Append</button>
        </div>
    </div>

    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular/angular-resource.js"></script>
    <script src="/lib/angular/angular-cookies.js"></script>
    <script src="/lib/underscore-1.4.4.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/CompileSampleController.js"></script>
    <script src="/lib/bootstrap.min.js"></script>

</body>

</html>