<html lang="en" ng-app="eventsApp">

<head>
    <meta charset="utf-8">
    <title>Cache Sample</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
</head>

<body ng-cloak>
    <div class="container">
        <div data-ng-controller="CookieStoreSampleController" style="padding: 20px">
           <button class="btn" ng-click="saveEventToCookie(event)">Save Cookie</button>
           <button class="btn" ng-click="getEventFromCookie()">Get Cookie</button>
           <button class="btn" ng-click="removeEventCookie()">Remove Cookie</button>
        </div>
    </div>

    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular/angular-resource.js"></script>
    <script src="/lib/angular/angular-cookies.js"></script>
    <script src="/lib/underscore-1.4.4.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/CookieStoreSampleController.js"></script>
    <script src="/js/filters.js"></script>
    <script src="/lib/bootstrap.min.js"></script>

</body>

</html>