<!doctype html>
<html ng-app="eventsApp">

<head>
    <meta charset="utf-8">
    <title>Event Registration</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body ng-cloak>
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="/NewEvent.html">Create Event</a></li>
                </ul>
            </div>
        </div>
        <div ng-controller="EventController" style="padding-left: 20px; padding-right: 20px;">
            <img ng-src="{{event.imageUrl}}" alt="{{event.name}}">
            <button class="btn btn-primary" type="button" ng-click="scrollToSession()">Scroll</button>
            <div class="row">
                <div class="span11">
                    <h2>{{event.name}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    <div><strong>Date:</strong> {{event.date}}</div>
                    <div><strong>Time:</strong> {{event.time}}</div>
                </div>
                <div class="span4">
                    <address>
                        <strong>{{event.location.address}}</strong><br>
                        {{event.location.city}}, {{event.location.province}}
                    </address>
                </div>
            </div>
            <hr>
            <h2>Sessions</h2> Order By:
            <select ng-model="sortorder" class="input-small">
                <option value="name" selected>Name</option>
                <option value="-upVoteCount">Votes</option>
            </select>
            Show:
            <select ng-model="query.level" class="input-small">
                <option value="" selected>All</option>
                <option value="introductory">Introductory</option>
                <option value="intermediate">Intermediate</option>
                <option value="advanced">Advanced</option>
            </select>
            <ul class="thumbnails">
                <li ng-repeat="session in event.sessions | orderBy:sortorder | filter:query" class="span11" id="session{{session.id}}">
                    <div class="row session">
                        <div class="span0 well votingWidget">
                            <div class="votingButton" ng-click="upVoteSession(session)">
                                <i class="icon-chevron-up icon-white"></i>
                            </div>
                            <div class="badge badge-inverse">
                                {{session.upVoteCount}}
                            </div>
                            <div class="votingButton" ng-click="downVoteSession(session)">
                                <i class="icon-chevron-down"></i>
                            </div>
                        </div>
                        <div class="well span9">
                            <h4 class="well-title">{{session.name}}</h4>
                            <h6 style="margin-top:-10px">{{session.creatorName}}</h6>
                            <span>Duration: {{session.duration | durations}}</span>
                            <br>
                            <span>Level: {{session.level}}</span>

                            <p>{{session.abstract}}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/underscore-1.4.4.min.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular/angular-resource.js"></script>
    <script src="/lib/angular/angular-cookies.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/EventController.js"></script>
    <script src="/js/services/EventData.js"></script>
    <script src="/js/services/sessionData.js"></script>
    <script src="/js/filters.js"></script>
</body>

</html>