<html lang="en" ng-app="eventsApp">

<head>
    <meta charset="utf-8">
    <title>Cache Sample</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
</head>

<body ng-cloak>
    <div class="container">
        <div data-ng-controller="FilterSampleController" style="padding: 20px">
            Duration 1: {{data.duration1}} <br/>
            Duration 2: {{data.duration2}} <br/>
            Duration 3: {{data.duration3}} <br/>
            Duration 4: {{data.duration4}} <br/>
        </div>
    </div>

    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular/angular-resource.js"></script>
    <script src="/lib/angular/angular-cookies.js"></script>
    <script src="/lib/underscore-1.4.4.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/FilterSampleController.js"></script>
    <script src="/js/filters.js"></script>
    <script src="/lib/bootstrap.min.js"></script>

</body>

</html>