<html lang="en" ng-app="eventsApp">

<head>
    <meta charset="utf-8">
    <title>Cache Sample</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
</head>

<body ng-cloak>
    <div class="container">
        <div data-ng-controller="LocaleSampleController" style="padding: 20px">
            <h3>{{myDate | date:myFormat}}</h3>
        </div>
    </div>

    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular/angular-resource.js"></script>
    <script src="/lib/angular/angular-cookies.js"></script>
    <script src="/lib/angular/angular-locale_ast-es.js"></script>
    <script src="/lib/underscore-1.4.4.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/LocaleSampleController.js"></script>
    <script src="/js/services/ExceptionHandler.js"></script>
    <script src="/lib/bootstrap.min.js"></script>

</body>

</html>