<!doctype html>
<html ng-app="eventsApp">

<head>
    <meta charset="utf-8">
    <title>Event Registration</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body ng-cloak>
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="/NewEvent.html">Create Event</a></li>
                </ul>
            </div>
        </div>
        <div ng-controller="EditEventController" style="padding-left: 20px; padding-right: 20px;">
            <div class="container">
                <form name="newEventForm">
                    <fieldset>
                        <label for="eventName">Event Name:</label>
                        <input type="text" id="eventName" required ng-model="event.name" placeholder="Name of your event...">

                        <label for="eventDate">Event Date:</label>
                        <input type="text" id="eventDate" required ng-pattern="/\d\d/\d\d/\d\d\d\d/" ng-model="event.date" placeholder="format {MM/DD/YYYY}...">

                        <label for="eventTime">Event Time:</label>
                        <input type="text" id="eventTime" ng-model="event.duration" placeholder="start and end time...">

                        <label for="eventLocation">Event Location:</label>
                        <input type="text" id="eventLocation" ng-model="event.location.address" placeholder="Address of your event...">
                        <br>
                        <input type="text" id="eventProvince" ng-model="event.location.province" class="input-small" placeholder="Provice...">
                        <input type="text" id="eventCity" ng-model="event.location.city" class="input-small" placeholder="City...">

                        <label for="eventImageUrl">Event Name:</label>
                        <input type="text" id="eventImageUrl" ng-model="event.imageUrl" class="input-xlarge" placeholder="Url of Image...">
                    </fieldset>
                    <img ng-src="{{event.imageUrl}}">
                    <br>
                    <br>
                    <button type="submit" ng-disabled="newEventForm.$invalid" ng-click="saveEvent(event, newEventForm)" class="btn btn-primary">Save</button>
                    <button type="button" ng-click="cancelEvent()" class="btn btn-default">Cancel</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/underscore-1.4.4.min.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular/angular-resource.js"></script>
    <script src="/lib/angular/angular-cookies.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/EventController.js"></script>
    <script src="/js/controllers/EditEventController.js"></script>
    <script src="/js/services/EventData.js"></script>
    <script src="/js/filters.js"></script>
</body>

</html>